{% extends 'base.html' %}

{% block titulo %}Carrinho{% endblock %}

{% block main %}
<h1>Carrinho</h1>
{% if carrinho %}
     <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Und.</th>
                <th>Preço Total</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            {% for item in carrinho %}
                {% with produto=item.produto %}
                <tr>
                    <td>{{produto.nome}}</td>
                    <td>
                        <form method="POST" action="{% url 'carrinho_add' produto.id %}">
                            {% csrf_token %}
                            {{item.update_qnd.quantidade}}
                            {{item.update_qnd.sobrepor_qntd}}
                            <input type="submit" value="Atualizar">
                        </form>
                    </td>

                    <td class="">R${{ item.preco_medio }}</td>
                    <td class="">R${{ item.preco_total }}</td>
                    <td class="">
                        <form action="{% url 'carrinho_delete' produto.id  %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Remover">
                        </form>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>R$ {{ carrinho.get_preco_total }}</td>
                    <td></td>
                </tr>
        </tbody>
    </table>
{%else%}
<h1>Carrinho está vazio!</h1>
{%endif%}
<a href="{% url 'super_index' %}" class="btn btn-primary">Continuar Comprando</a>
<a href="" class="btn btn-success {% if not carrinho %}disabled{%endif%} ">Finalizar Compra</a>
{% endblock %}