{% extends 'base.html' %}

{% block titulo %}Deletar - {{categoria.nome}} {% endblock %}
{% block navbar %}
{% include 'parciais/_dash_header.html' %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-md-center mt-4">
        <h2>Deletar: {{ categoria.nome }}</h2>
    </div>
    {% include 'parciais/_menssages.html' %}
    <div class=" justify-content-md-center mt-4">
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{categoria.id}}</td>
                    <td scope="col">{{categoria.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <form class="mt-4" action="{% url 'dash_categoria_del' categoria.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <input type="submit" value="Deletar" class="form-control btn btn-danger">
                </div>
                <div class="col">
                    <a href="{% url 'dash_categorias' %}" class="form-control btn btn-primary">Voltar</a>
                </div>
            </div>
        </form>
</div>
{% endblock %}
