{% extends 'base.html' %}

{% block titulo %}Itens{% endblock %}

{% block navbar %}
{% include 'parciais/_dash_header.html' %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    
    <div class="row ml-4">
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-12">
                    <h1>Item: {{item.pedido}}</h1>
                </div>
                <div class="col mb-2">
                    <h2>Produto: {{item.produto}}</h2>
                    <h4>Quantidade: {{item.quantidade}}</h4>
                </div>
            </div>
        </div>
        <div class="col-12">
            <a href="{% url 'itens_list' %}" class="btn btn-primary">Voltar</a>
            <a href="{% url 'item_update' item.id %}" class="btn btn-warning">Alterar</a>
            <a href="{% url 'item_del' item.id %}" class="btn btn-danger">Deletar</a>
        </div>
    </div>
    {% include 'parciais/_menssages.html' %}
</div>
{% endblock %}