{% extends 'base.html' %}

{% block titulo %}Pedidos{% endblock %}

{% block main %}
<h1>Pedidos</h1>
<div class="container-fluid">
        <a href="{% url 'dash_index' %}">Dashboard</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Endereço</th>
                <th>Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td><a href="{% url 'pedido_detalhe' pedido.id %}">{{pedido.id}}</a></td>
                    <td><a href="{% url 'pedido_detalhe' pedido.id %}">{{pedido.cliente}}</a></td>
                    <td><a href="{% url 'pedido_detalhe' pedido.id %}">{{pedido.endereco}}</a></td>
                    {% if pedido.pago == True %}
                    <td>Pago</td>
                    {% else %}
                    <td>Pendente</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}