{% extends 'base.html' %}

{% block titulo %}Dashboard{% endblock %}

{% block navbar %}
{% include 'parciais/_dash_header.html' %}
{% endblock %}

{% block main %}
<div class="container mt-2">

    {% include 'parciais/_menssages.html' %}
    <div class="row">
        <div class="col">
            <a href="{% url 'dash_produtos' %}" class="btn dash-bnt" style="background-color: #ff7f50;">Produtos</a>
        </div>
        <div class="col">
            <a href="{% url 'dash_categorias' %}" class="btn dash-bnt" style="background-color: #ff506d;">Categorias</a>
        </div>
        <div class="col">
            <a href="{% url 'pedidos_list' %}" class="btn dash-bnt" style="background-color: #8d50ff;">Pedidos</a>
        </div>
        <div class="col">
            <a href="{% url 'itens_list' %}" class="btn dash-bnt " style="background-color: #50aaff;">Itens</a>
        </div>
    </div>
</div>

{% endblock %}