{% extends 'base.html' %}

{% block titulo %}Finalizar Compra{% endblock %}
{% block navbar %}
{% include 'parciais/_super_header.html' %}
{% endblock %}

{% block main %}
<div class="container mt-4">

    <h1 class="title-h2">Finalizar Compra</h1>
    {% if carrinho %}
    <div class="row">

        <div class="col-12">
            <table class="table">
                <center>
                    <h5 class="title-h2">Resumo do Carrinho</h5>
                </center>
                <tbody>
                    {% for item in carrinho %}
                    <th>
                    <td>{{ item.qntd }} X {{ item.produto.nome }}</td>
                    <td>R$ {{ item.preco_total }}</td>
                    </th>
                    {%endfor%}
                    <th>
                    <td>Total</td>
                    <td>R$ {{ carrinho.get_preco_total }}</td>
                    </th>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <form action="{% url 'finalizar_pedido' %}" method="POST">
                {% csrf_token %}
                <div class="row ">
                    <div class="col-12 mb-1">
                        <h4 class="title-h2">Insira seus dados</h4>
                    </div>

                    <div class="col-5">
                        {{form}}
                    </div>
                </div>
                <div class="row mt-4 ">
                    <div class="col-12">
                        <div class="row ">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <a href="{% url 'carrinho_detalhe' %}" class="form-control btn btn-primary">Voltar
                                        para o
                                        carrinho</a>
                                </div>
                                <div class="col">
                                    <input type="submit" class="form-control btn btn-success " value="Finalizar Compra">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%else%}
    <div class="row">
        <div class="col-12 mb-4">
            <h1>Carrinho vazio!</h1>
        </div>
        <div class="col">
            <a href="{% url 'super_index' %}" class="btn btn-primary">Continuar Comprando</a>
        </div>
        <div class="col">
            <a href="{% url 'finalizar_pedido' %}"
                class="btn btn-success {% if not carrinho %}disabled{%endif%} ">Finalizar Compra</a>
        </div>
    </div>
    {%endif%}
</div>
{% include 'parciais/_menssages.html' %}
{% endblock %}