{% extends 'base.html' %}

{% block titulo %}Compra Concluída{% endblock %}
{% block navbar %}
{% include 'parciais/_super_header.html' %}
{% endblock %}

{% block main %}
<div class="container">

    {% if carrinho %}
    {% include 'parciais/_menssages.html' %}
    <div class="row justify-content-center mt-4">
        <h1 class="title-h2">Compra concluída</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row justify-content-center">

                {% for item in carrinho %}
                <div class="col-12 mb-4">

                    {{ item.qntd }} X {{ item.produto.nome }}
                    <span>Subetotal: R${{ item.preco_total }}</span>
                </div>
                {%endfor%}
                <div class="col-12 mb-3">
                    <span>Total: R${{ carrinho.get_preco_total }}</span>
                </div>
            
            </div>
        </div>
        <div class="col-12">
            <a href="{% url 'super_index' %}" class="form-control btn btn-primary">Comprar Novamente</a>
        </div>
    </div>
    {%else%}
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="title-h2">Carrinho está vazio!</h1>
        </div>
        <div class="col">
            <a href="{% url 'super_index' %}" class="btn btn-primary">Comprar Novamente</a>
        </div>
    </div>
    {% include 'parciais/_menssages.html' %}
    {%endif%}
</div>
{% endblock %}
